### AUTH
NEXTAUTH_SECRET=''
NEXTAUTH_URL=''


### RESEND https://resend.com/docs/send-with-smtp#what-if-i-need-logs-from-the-server-to-debug
EMAIL_SERVER=''
RESEND_API_KEY=''

### NODE_ENV
NODE_ENV=''

### DATABASE
POSTGRES_PRISMA_URL=
