### AUTH
NEXTAUTH_SECRET=''
NEXTAUTH_URL=''

### MONGODB
MONGODB_URI=''

### RESEND https://resend.com/docs/send-with-smtp#what-if-i-need-logs-from-the-server-to-debug
EMAIL_SERVER=''
RESEND_API_KEY=''

### NODE_ENV
NODE_ENV=''
